[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
bandit = "*"
prospector = "*"

[packages]
pandas = "*"
seaborn = "*"
torch = "*"
torchvision = "*"

[requires]
python_version = "3.7"
